# ignore everything
*

# except
!ros
!deps.repos
!colcon-defaults.yaml
!docker/entrypoint.sh

# re-exclude colcon artifacts, in case the module was ever built in place
ros/**/build
ros/**/install
ros/**/log
**/__pycache__
