[Unit]
Description=Launch the ROS 2 system
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStartPre=/home/pi/RDML_BlueROV2_Deployment/modules/bluerov_pi/scripts/wait_for_core.sh
RemainAfterExit=yes
ExecStart=/bin/bash -c "docker compose -f /home/pi/RDML_BlueROV2_Deployment/modules/bluerov_pi/docker/docker-compose.yml up --detach"
ExecStop=/bin/bash -c "docker compose -f /home/pi/RDML_BlueROV2_Deployment/modules/bluerov_pi/docker/docker-compose.yml stop"

[Install]
WantedBy=multi-user.target
