<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="bluerov2_urdf" params="prefix">

    <link name="${prefix}base_footprint" />

    <link name="${prefix}base_link">
      <inertial>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
        <mass value="15.0" />
        <inertia ixx="0.26" ixy="0" ixz="0" iyy="0.23" iyz="0" izz="0.37" />
      </inertial>
      <collision name="base_link_collision">
        <geometry>
          <box size="0.457 0.575 0.06" />
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.06" />
      </collision>
    </link>

    <link name="${prefix}dvl_link" />

    <link name="${prefix}bno08x" />

    <link name="${prefix}bar30" />

    <joint name="${prefix}base_footprint_joint" type="fixed">
      <parent link="${prefix}base_footprint" />
      <child link="${prefix}base_link" />
    </joint>

    <joint name="${prefix}dvl_joint" type="fixed">
      <origin rpy="3.141593 0 3.141593" xyz="-0.219013 -0.107500 -0.179057" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}dvl_link" />
    </joint>

    <joint name="${prefix}bno08x_joint" type="fixed">
      <origin rpy="0 0 1.57079633" xyz="0.029369 0.02235 -0.115472" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}bno08x" />
    </joint>

    <joint name="${prefix}bar30_joint" type="fixed">
      <origin rpy="0 0 0" xyz="-0.161122 0.0 0.110975" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}bar30" />
    </joint>

    <!-- Import T200 macro -->
    <xacro:include
            filename="$(find autonomy_description)/description/urdf/t200.urdf.xacro"
        />

    <xacro:t200_urdf
            parent="${prefix}base_link"
            prefix="${prefix}"
            ccw="true"
            id="1"
        >
      <origin rpy="-1.571 1.571 -1.047" xyz="0.09 -0.104 0.0" />
    </xacro:t200_urdf>

    <xacro:t200_urdf
            parent="${prefix}base_link"
            prefix="${prefix}"
            ccw="true"
            id="2"
        >
      <origin rpy="-1.571 1.571 -2.094" xyz="0.09 0.104 0.0" />
    </xacro:t200_urdf>

    <xacro:t200_urdf
            parent="${prefix}base_link"
            prefix="${prefix}"
            ccw="false"
            id="3"
        >
      <origin rpy="-1.571 1.571 1.047" xyz="-0.09 -0.104 0.0" />
    </xacro:t200_urdf>

    <xacro:t200_urdf
            parent="${prefix}base_link"
            prefix="${prefix}"
            ccw="false"
            id="4"
        >
      <origin rpy="-1.571 1.571 2.094" xyz="-0.09 0.104 0.0" />
    </xacro:t200_urdf>

    <xacro:t200_urdf
            parent="${prefix}base_link"
            prefix="${prefix}"
            ccw="true"
            id="5"
        >
      <origin rpy="0 0 0" xyz="0.12 -0.218 0.11" />
    </xacro:t200_urdf>

    <xacro:t200_urdf
            parent="${prefix}base_link"
            prefix="${prefix}"
            ccw="false"
            id="6"
        >
      <origin rpy="0 0 0" xyz="0.12 0.218 0.11" />
    </xacro:t200_urdf>

    <xacro:t200_urdf
            parent="${prefix}base_link"
            prefix="${prefix}"
            ccw="false"
            id="7"
        >
      <origin rpy="0 0 0" xyz="-0.12 -0.218 0.11" />
    </xacro:t200_urdf>

    <xacro:t200_urdf
            parent="${prefix}base_link"
            prefix="${prefix}"
            ccw="true"
            id="8"
        >
      <origin rpy="0 0 0" xyz="-0.12 0.218 0.11" />
    </xacro:t200_urdf>

  </xacro:macro>
</robot>
